LocalTunnel.Library/obj/*
LocalTunnel.Library/bin/*
LocalTunnel.Console/obj/*
LocalTunnel.Console/bin/*
LocalTunnel.UI/bin/*
LocalTunnel.UI/obj/*

packages/Dex.Utilities/obj/*
packages/Dex.Utilities/bin/*
packages/Renci.SshClient/Renci.SshNet/bin/*
packages/Renci.SshClient/Renci.SshNet/obj/*


key
key.pub
build.force
*.cache
*.tlog
*.exe
*.manifest
*.application
